<script>
    window.cg = {
        CG_JQ_UI_THEME: [DEFAULT_THEME]
    }
</script>
<script>
    window.cgAsyncReady = function () {
        var appData = [APP_DATA];
        CGAPI.loadApp(appData, function onAppLoad(application) {
            application.init();
        });
    };
    (function (port) {
        var fjs = document.getElementsByTagName('script')[0];
        if (document.getElementById("cg-api")) {
            return;
        }
        var js = document.createElement("script");
        js.id = "cg-api";
        js.type = 'text/javascript';
        js.async = true;
        js.src = "[CG_SERVER]" + (port != null ? ":" + port : "")
                + "/server_api/s1/application/load/cg_api?app_id=[APP_ID]&access_token=[ACCESS_TOKEN]&RHZ_SESSION_ID=[SESSION_ID]&VERSION=[CG_VERSION][DEV_MODE][XDEBUG]";
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(js, s);
    }());
</script>